@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first {
    background-color: #1F2937;
    font-family: "Roboto", serif;
}

.first .content header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding:18px 0 75px;
}

.first .content{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.first .content header .logo-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    width: 450px;
}

.first .content header .navigation{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.first .content header .navigation a{
    text-decoration: none;
    color: #F9FAF8;
}

.first .content .hero{
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

.first .content .hero .intro-text{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: flex-start;
}

.first .content .hero .placeholder-img{
    background-color: #e5e7eb8d;
    height: 210.8px;
    width: 480px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first .content .hero .intro-text h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.first .content .hero .intro-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.first .content .hero .intro-text button{
    background-color: #3882F6;
    color: white;
    padding: 5px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    margin-top: 10px;
}


.second {
    text-align: center;
}

.second .showcase-img-grp {
    display: flex;
}

.second .showcase-img-grp .showcase-img .frame{
    height: 100px;
    width: 100px;
    border: 5px solid red;
}
